DELEGATED_USER_EMAIL="user@domain.com"
FROM_ADDRESS="user@domain.com"
PROJECT_ID="your-project-id-12345"

# This path should NOT be changed
# It points to a path inside the container
# Only change this path if you plan on deploying locally without docker
# or plan on changing the default path for this file in the container
GOOGLE_APPLICATION_CREDENTIALS="/run/secrets/account.json"

SECRET_NAME="Service_Account_Secret"
TWILIO_ACCOUNT_SID="AccountSID1234"
TWILIO_AUTH_TOKEN="Token1234"
MY_EMAIL="user@domain.com"